
    <div class="login-container">
        <div class="circle">
            <div class="logo">
                <img src="/assets/rata_pro.png"/>
            </div>
        </div>
        <h1>Cacha Plagas</h1>
        <div class="input-group">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="Usuario">
            <input type="text" placeholder="Correo">
        </div>
        <div class="input-group">
            <img src="https://cdn-icons-png.flaticon.com/512/747/747614.png" alt="Contraseña">
            <input type="password" placeholder="Contraseña">
        </div>
        <a href="#">¿Haz olvidado tu contraseña? <b>Click aquí</b></a>
        <br><br>
        <button class="btn">Iniciar Sesión</button>
        <br><br>
        <a href="#">¿No tienes cuenta? <b>Click aquí</b></a>
    </div>

