body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #f0f2f5;
    color: black;
}

.container {
    width: 95%;
    margin: 0 auto;
    padding: 80px 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.info-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.info-boxes .card {
    background-color: #fff;
    padding: 7px 55px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    border: 1px solid #ddd;
    margin: 0;
    height: auto;
    min-height: 120px;
}


.info-boxes .card h2 {
    font-size: 18px;
    margin-bottom: 8px;
    text-align: center;
}


.info-boxes .card p {
    font-size: 14px;
    margin: 3px 0;
    text-align: left;
}


.info-boxes .card p[style="color: green;"] {
    font-size: 18px;
}

.row .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .row .card:hover {
    transform: translateY(-10px); /* Eleva ligeramente */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3); /* Aumenta la sombra */
  }


.card h2 {
    color: #007bff;
}

.chart-card {
    background: white;
    color: black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    border: 1px solid #ddd;
    transition: transform 0.2s, box-shadow 0.2s; /*para la animaciones que utilizaremos despues*/
    transition: none !important;
}

.chart-card:hover {
    transform: none !important; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
}

.chart-container {
    height: 350px;
    width: 100%;
    max-width: none;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.button-group button {
    background: linear-gradient(135deg, #007bff, #0056b3);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button-group button:hover {
    background: linear-gradient(135deg, #0056b3, #003c80);
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}


.nav {
    background-color: #0088cc;
    color: white;
    padding: 0;
    display: flex;
    width: 100%;
}

.nav-item {
    padding: 15px 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

.nav-active {
    background-color: #005580;
    width: auto; 
}
