
.header-with-overlay {
  position: relative;
  min-height: 200px;
  overflow: hidden; /* Recorta lo que se desborde */
}

.header-with-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ocupa todo el ancho */
  height: 100%;
  background-image: url('../assets/banner.png');
  background-size: cover; /* Altura fija, ancho proporcional */
  background-position: center;
  opacity: 0.5;
  z-index: 0;
}

/* Contenedor del contenido */
.header-with-overlay .container {
  position: relative;
  z-index: 1; /* Asegura que esté sobre la imagen */
}

.nav-container {
    position: relative;
    overflow: hidden;
  }
  
  .nav-item {
    position: relative;
    z-index: 2;
  }
  
  #nav-tabs {
    position: relative;
  }
  
  #nav-tabs::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(90deg, transparent 0%, transparent 100%);
    transition: background 0.3s ease;
  }
  
  .active-link {
    background-color: transparent;
    position: relative;
  }
  
  .active-link::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #003380;
    z-index: -1;
  }
  
  
  
  /* Estilos específicos que se añadirán dinámicamente con JavaScript */
  
  .trampas-active {
      background: #003380;
  }
  
  .trampas-estadistica-active {
      background: linear-gradient(90deg, #003380 0%, #003380 12.5%, #2697FF 50%);
  }
  
  .estadisticas-active {
      background: #003380;
  }
  
  .estadisticas-trampa-active {
      background: linear-gradient(270deg, #003380 0%, #003380 12.5%, #2697FF 50%);
  }
  
  .estadisticas-gradiente-active
  {
      background: linear-gradient(90deg,  #003380 0%, #003380 12.5%, #2697FF 50%);
  }