.custom-container {
    margin-left: 15%;
    margin-right: 15%;
  }
  
  @media (max-width: 768px) {
    .custom-container {
      margin-left: 10%;
      margin-right: 10%;
    }
  }
  
  @media (max-width: 576px) {
    .custom-container {
      margin-left: 7%;
      margin-right: 7%;
    }
  }