
    <div class="login-container">
        <div class="circle">
            <div class="logo">
                <img src="/assets/rata_pro.png"/>
            </div>
        </div>
        <h1>Cacha Plagas</h1>
        <h2>Registrar</h2>
        <div class="input-group">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="Usuario">
            <input type="text" placeholder="Correo">
        </div>
        <div class="input-group">
            <img src="https://cdn-icons-png.flaticon.com/512/747/747614.png" alt="Contraseña">
            <input type="password" placeholder="Contraseña">
        </div>
        <br>
        <button class="btn" (click)="redirigir()">Registrar</button>
        <br>
    </div>
 