
    <div class="login-container">
        <div class="circle">
            <div class="logo">
                <img src="/assets/rata_pro.png"/>
            </div>
        </div>
        <h1>Cacha Plagas</h1>
        <h2>Recuperar Contraseña</h2>
        <div class="input-group">
            <img src="https://cdn-icons-png.flaticon.com/512/1077/1077114.png" alt="Usuario">
            <input type="text" placeholder="Correo">
        </div>
        <br>
        <button class="btn" (click)="redirigir()">Recuperar</button>
        <br><br>
        <a href="#">¿No tienes cuenta? <b>Click aquí</b></a>
    </div>
