<form [formGroup]="cambiarContrasenaForm" (ngSubmit)="cambiarContrasenaFunc()">
  <div>
    <label for="email">Correo:</label>
    <input id="email" formControlName="email" type="email" placeholder="Ingresa tu correo">
    <div *ngIf="cambiarContrasenaForm.get('email')?.invalid && cambiarContrasenaForm.get('email')?.touched">
      <small class="text-danger">Por favor ingresa un correo válido.</small>
    </div>
  </div>

  <div>
    <label for="contrasena">Nueva Contraseña:</label>
    <input id="contrasena" formControlName="contrasena" type="password" placeholder="Ingresa nueva contraseña">
    <div *ngIf="cambiarContrasenaForm.get('contrasena')?.invalid && cambiarContrasenaForm.get('contrasena')?.touched">
      <small class="text-danger">La contraseña debe tener al menos 6 caracteres.</small>
    </div>
  </div>

  <button type="submit" [disabled]="cambiarContrasenaForm.invalid">Cambiar Contraseña</button>
</form>